<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.ruoyichat.mapper.GenerateTemplateMapper">
    
    <resultMap type="GenerateTemplate" id="GenerateTemplateResult">
        <result property="id"    column="id"    />
        <result property="generateName"    column="generate_name"    />
    </resultMap>

    <sql id="selectGenerateTemplateVo">
        select id, generate_name from generate_template
    </sql>

    <select id="selectGenerateTemplateList" parameterType="GenerateTemplate" resultMap="GenerateTemplateResult">
        <include refid="selectGenerateTemplateVo"/>
        <where>  
            <if test="generateName != null  and generateName != ''"> and generate_name like concat('%', #{generateName}, '%')</if>
        </where>
    </select>
    
    <select id="selectGenerateTemplateById" parameterType="Long" resultMap="GenerateTemplateResult">
        <include refid="selectGenerateTemplateVo"/>
        where id = #{id}
    </select>

    <insert id="insertGenerateTemplate" parameterType="GenerateTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into generate_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="generateName != null">generate_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="generateName != null">#{generateName},</if>
         </trim>
    </insert>

    <update id="updateGenerateTemplate" parameterType="GenerateTemplate">
        update generate_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="generateName != null">generate_name = #{generateName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGenerateTemplateById" parameterType="Long">
        delete from generate_template where id = #{id}
    </delete>

    <delete id="deleteGenerateTemplateByIds" parameterType="String">
        delete from generate_template where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>